.course_info_block {
    display: flex;
    flex-direction: column;
}

.course_name {
    align-self: center;
}

.author_name:nth-of-type(1) {
    padding-top: 10px;
}

.course_info_page_info {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 20px;
}

.course_card_main_info {
    padding: 0 20px;
}

.course_card_details {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.course_card_details p {
    margin-top: 0;
}

.course_card_details_name {
    font-weight: bold;
}