.base_button {
    background: none;
    border: 1px solid black;
    border-radius: 5px;
}

.base_button:hover {
    box-shadow: -1px 1px 0px 0px black;
    cursor: pointer;
}

.base_button:active {
    box-shadow: none;
}

.header_login_button,
.create_course_button,
.add_author_button,
.create_author_button,
.login_button {
    background: none;
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
}

.create_author_button {
    align-self: center;
}

.header_login_button:hover,
.create_course_button:hover,
.add_author_button:hover,
.create_author_button:hover,
.login_button:hover {
    box-shadow: 2px 2px 20px -10px green;
    cursor: pointer;
}

.header_login_button:active,
.create_course_button:active,
.add_author_button:active,
.create_author_button:active,
.login_button:active {
    box-shadow: 2px 2px 25px -10px red;
}

.search_bar_button {
    background: none;
    border: 1px solid green;
    border-radius: 5px;
    height: 30px;
}

.search_bar_button:hover {
    box-shadow: 2px 2px 20px -10px green;
    cursor: pointer;
}

.search_bar_button:active {
    box-shadow: 2px 2px 25px -10px red;
}

.add_course_button {
    background: none;
    border: 1px solid blueviolet;
    border-radius: 5px;
    height: 30px;
}

.add_course_button:hover {
    box-shadow: 2px 2px 20px -10px blueviolet;
    cursor: pointer;
}

.add_course_button:active {
    box-shadow: 2px 2px 25px -10px red;
}

.show_course_button {
    width: 200px;
    align-self: left;
    background: #e9d6ff;
    border: 1px solid blueviolet;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 5px;
}

.show_course_button:hover {
    box-shadow: 2px 2px 20px -10px blueviolet;
    cursor: pointer;
}

.show_course_button:active {
    box-shadow: 2px 2px 25px -10px red;
}

.add_author_button {
    margin: 0 60px;
}

.back_to_courses_button {
    background: none;
    border: none;
    border-bottom: 1px solid;
    margin: 5px 10px;
}

.back_to_courses_button:hover {
    cursor: pointer;
}